body {
  background-image: url(./Imagenes/alcolirykoz.jpg); /* Establece la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  background-attachment: fixed; /* Fija la imagen de fondo en su posición original */
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el cuerpo de la página */
}

h1 {
  color: yellow; /* Establece el color del texto en amarillo */
}

.menu {
  position: fixed; /* Fija el menú en una posición fija */
  top: 0; /* Ubica el menú en la parte superior del viewport */
  right: 0; /* Ubica el menú en la parte derecha del viewport */
  background-color: black; /* Establece un color de fondo negro para el menú */
}

.menu a {
  color: yellow; /* Establece el color del texto del menú en amarillo */
}

@media screen and (max-width: 768px) {
  .menu {
    position: static; /* Cambia la posición del menú a estática */
    background-color: transparent; /* Remueve el color de fondo en pantallas pequeñas */
  }
}

#biografia {
  text-align: center; /* Centra el contenido de la sección en el centro del contenedor */
}

#biografia p {
  font-family: Arial, sans-serif; /* Establece la fuente del texto como Arial o una fuente genérica sans-serif */
  font-size: 16px; /* Tamaño de fuente de 16 píxeles */
  line-height: 1.5; /* Espaciado entre líneas del 150% del tamaño de fuente */
  text-align: center; /* Centra el texto en los párrafos */
  margin-bottom: 20px; /* Margen inferior de 20 píxeles */
  color: white; /* Color de fuente en gris claro (#888) */
}

.integrantes {
  display: flex; /* Aplica el modelo flexible (flexbox) para el contenedor de los integrantes */
  justify-content: space-between; /* Distribuye los elementos con un espacio igual entre ellos */
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

.integrantes img {
  width: 200px; /* Ancho de la imagen de 200 píxeles */
  height: 200px; /* Altura automática para mantener la proporción de la imagen */
  margin-bottom: 10px; /* Margen inferior de 10 píxeles */
}

.integrantes h3 {
  font-family: Arial, sans-serif; /* Establece la fuente del texto como Arial o una fuente genérica sans-serif */
  font-size: 14px; /* Tamaño de fuente de 14 píxeles */
  font-weight: bold; /* Establece el grosor de la fuente en negrita */
  margin: 0; /* Elimina el margen alrededor del nombre del integrante */
  color: yellow; /* Color de fuente  */
}

h2{
  color: yellow;
}

#canciones {
  overflow-x: auto; /* Permite desplazamiento horizontal */
  white-space: nowrap; /* Evita el salto de línea */
}

.video-carousel {
  display: flex; /* Crea un contenedor flexible para los videos */
  gap: 10px; /* Espacio entre los videos */
}

.video {
  width: 300px; /* Ancho fijo para cada video */
  height: 200px; /* Altura fija para cada video */
}
